.add{
    position: fixed;
    height: 50%;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    margin-left: 35%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(41, 12, 127, 0.2);
    z-index: 1;
}
.title{
    position: relative;
    height: 20%;
    width: 100%;
    margin-top:3%;
    font-size: 25px;
    color: black;
    text-align: center;
}
.title img{
    position: fixed;
    margin-left:5%
}
.add span select{
    position: absolute;
    margin-top: 20%;
    height:20%;
    width:100%;
}
.add-input{


}